<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card {% if not blog_post.publish_date %} border border-warning {% endif %}">
        <div class="card-body">
            {% if not truncate %}
            {% if blog_post.image %}
                <img src="{{ blog_post.image.url }}" class="card-img-top"/>
            {% endif %}
            {% endif %}
           
            <h5 class="card-title">{{ sales.product_name }}</h5>
            <p class="card-text"> 
               {{sales.bought_from}}
               <div>
                   {{sales.quantity}} वटाको 
                   Price: रु. 
                   <!-- {% widthratio sales.price 1 sales.quantity %} (one way to do it)-->
                   {{sales.actual_price}}
                   <br>
                   
                   एउटाको Price: रु. {{sales.price | floatformat:2}}

               </div>
               <br>
               <a href="/sales/delete/{{sales.slug}}" class="btn btn-danger">Delete</a>
               <a href="/sales/edit/{{sales.slug}}" class="btn btn-secondary">Edit</a>
            </p>
          
        </div>
    </div>

</div>