


{% if publish_date %}
<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card {% if not blog_post.publish_date %} border border-success {% endif %}">
        <div class="card-body">
            {% if not truncate %}
            {% if blog_post.image %}
                <img src="{{ blog_post.image.url }}" class="card-img-top"/>
            {% endif %}
            {% endif %}
           
            <h5 class="card-title">{{ sale.product_name }}</h5>
            <p class="card-text"> 
               {{sale.sold_to}} मा बेचेको  
               <div>
                   {{sale.quantity}} वटाको 
                   Price: रु. 
                
                   {{sale.actual_price}}
                   <br>
                   
                   एउटाको Price: रु. {{sale.price | floatformat:2}}
                   

               </div>
               {% if pending_amount %}
                        <div>
                            <p>
                                लिन बाँकी : 
                                {{pending_amount | floatformat:2}}

                            </p>

                        </div>
     
                     {% endif %}
                
                 <p>Published on: {{ publish_date | date:"Y-m-d" }}</p>
               
               <a href="/sales/delete/{{sale.slug}}" class="btn btn-danger">Delete</a>
               <a href="/sales/edit/{{sale.slug}}" class="btn btn-secondary">Edit</a>

               
            </p>
          
        </div>
    </div>

</div>
    {% elif not publish_date %}
    <div class="col-12 col-md-10 mb-3 mx-auto">
        <div class="card {% if not blog_post.publish_date %} border border-warning {% endif %}">
            <div class="card-body">
                {% if not truncate %}
                {% if blog_post.image %}
                    <img src="{{ blog_post.image.url }}" class="card-img-top"/>
                {% endif %}
                {% endif %}
               
                <h5 class="card-title">{{ sale.product_name }}</h5>
                <p class="card-text"> 
                   {{sale.sold_to}} मा बेचेको   
                   <div>
                       {{sale.quantity}} वटाको 
                       Price: रु. 
                    
                       {{sale.actual_price}}
                       <br>
                       
                       एउटाको Price: रु. {{sale.price | floatformat:2}}
    
                   </div>
                   {% if pending_amount %}
                        <div>
                            <p>
                                लिन बाँकी : 
                                {{pending_amount | floatformat:2}}

                            </p>

                        </div>
     
                     {% endif %}
                   <p>Draft (Not Published) </p>
                   
                  
                   <a href="/sales/delete/{{sale.slug}}" class="btn btn-danger">Delete</a>
                   <a href="/sales/edit/{{sale.slug}}" class="btn btn-secondary">Edit</a>
    
                   
                </p>
              
            </div>
        </div>
    
    </div>
    {% endif %}

