{% extends 'base.html' %}

{% block head %}
<title> किनेको सामान्को  जानकारी हेर्नुहोश </title>
{% endblock %}
{% block content %}
<div id="purchases_list" class="sufficient_content_height">
<div class="container">
        <h1>खरिद गरेको सामानहरु </h1>
        <p>जम्मा सामानहरु: {{purchases.count}}</p>
        <p>जम्मा  मुल्य: रु. {{total_price}}</p>

        <ul style="height: 500px; overflow-y: scroll">
            {% for purchase in purchases %}
            {% include 'list_inline_purchase.html' with purchase=purchase detail=True publish_date=purchase.date %}
    
            {% endfor %}
        
        </ul>

    </div>

</div>

{% endblock %}